body{
    padding: 0;margin: 0;overflow: hidden;
}
.curson{
    cursor: pointer;
}
li{
    list-style: none;float: left;
}
a{
   color: black;text-decoration: none;
}
.default{
    cursor: default;user-select: none;
}
.fa-download,.fa-heart-o{
	cursor: pointer;
}
.music-row{
	height: 30px;line-height: 30px;
	font-size: 13px;
}
.col1{
	width: 105px;padding-left: 30px;overflow: hidden;text-overflow: ellipsis;height: 30px;
}
.col2{
	width: 510px;padding-left: 5px;overflow: hidden;text-overflow: ellipsis;height: 30px;
}
.col3{
	width: 241px;height: 30px;padding-left: 5px;overflow: hidden;text-overflow: ellipsis;height: 30px;
}
.col4{
	width: 320px;padding-left: 5px;overflow: hidden;text-overflow: ellipsis;height: 30px;
}
.col5{
	width: 65px;padding-left: 5px;overflow: hidden;text-overflow: ellipsis;height: 30px;
}

/*
	搜索和歌单的样式
*/
#music-title{
	width: 510px;margin-left: 135px;
}
#music-singer{
	width: 240px;
}
#music-playlist{
	width: 320px;
}
#music-time{
	width: 94px;
}