#right-music-list{
    height: 100%;
	position: absolute !important;right: 0;top: 0;
    width: 27.4vw;background-color: #ffdbdb;
    z-index: 999;font-size: 12px;
}
#list-change>div{
	width: 210px;height: 30px;margin: 0 auto;
}
#list-change>div>button{
	width: 103px;height: 30px;border: 0;border-radius: 15px;background-color: rgb(248, 187, 187);margin-top: 20px;color: white;margin-left: -3px;
}

#list-content>div>div{
	float: left;
}
#list-top{
	margin-top: 40px;height: 20px;line-height: 20px;margin-bottom: 15px;
	padding-left: 10px;
}
#list-body{
	overflow: auto;height: 492px;
}
#list-body>div>div{
	float: left;cursor: default;
}
.box-row{
	height: 30px;line-height: 30px;font-size: 13px;width: 100%;
}
.box-row:hover{
	background-color: #b0fffd;
}
.col-1{
	width: 200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-left: 10px;
}
.col-2{
	width: 150px;overflow: hidden;text-overflow: ellipsis;
}
.col-3{
	width: 40px;overflow: hidden;text-overflow: ellipsis;
}