#right-music-list{
    height: 100%;
	position: absolute;right: 0;top: 0;
    width: 27.4vw;background-color: #a85858;
    z-index: 999;font-size: 12px;
}
#list-change>div{
	width: 210px;height: 30px;margin: 0 auto;
}
#list-change>div>button{
	width: 103px;height: 30px;border: 0;border-radius: 15px;background-color: rgb(209, 207, 207);margin-top: 20px;color: white;margin-left: -3px;
}
#list-content{
	padding-left: 10px;
}
#list-content>div>div{
	float: left;
}
#list-top{
	margin-top: 40px;height: 20px;line-height: 20px;margin-bottom: 15px;
}
#list-body{
	overflow: auto;height: 492px;
}
#list-body>div>div{
	float: left;
}
.box-row{
	margin: 5px 0;height: 20px;line-height: 20px;
}
.col-1{
	width: 200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
	padding-right: 20px;
}
.col-2{
	width: 150px;overflow: hidden;text-overflow: ellipsis;
}
.col-3{
	width: 40px;overflow: hidden;text-overflow: ellipsis;
}